In [7]:
# Standard modules
import numpy as np
import pandas as pd
import string
import re

# Twitter tagger APIs
from modules.CMUTweetTagger import runtagger_parse

In [2]:
# Constants

# Path to POS tagger java application
ARK_TWEET_NLP_PATH = 'java -XX:ParallelGCThreads=2 -Xmx500m -jar resources/ark-tweet-nlp-0.3.2/ark-tweet-nlp-0.3.2.jar'

# Path to words dataset .csv file
WORDS_PATH = 'data/database/words.csv'

In [3]:
# Load tweets dataset
tweets = pd.read_csv('data/database/tweets.csv', dtype={
    'id_str': str
})

# Show few lines of the dataset
tweets.head()

,created_at,id_str,text,truncated,geo,coordinates,place,retweet_count,favourite_count,in_reply_to_status_id_str,in_reply_to_user_id_str,lang
0,Thu Dec 19 23:35:02 +0000 2019,1207806578650468352,These events around the world prompted importa...,True,NaN,NaN,NaN,53,NaN,NaN,NaN,en
1,Thu Dec 19 21:48:10 +0000 2019,1207779681627447296,RT @wef: Women's pay equality has slipped back...,False,NaN,NaN,NaN,0,NaN,NaN,NaN,en
2,Thu Dec 19 21:42:14 +0000 2019,1207778191173201920,Happy birthdayÂ @Alyssa_Milano!ðŸŽˆ Thank you for ...,False,NaN,NaN,NaN,191,NaN,NaN,NaN,en
3,Thu Dec 19 20:35:04 +0000 2019,1207761285045260294,â€œThis is my charge to everyone:\n\nWe have to ...,True,NaN,NaN,NaN,88,NaN,NaN,NaN,en
4,Thu Dec 19 18:41:46 +0000 2019,1207732772451889152,8 Posters At The CAA Protests In Delhi That Sc...,False,NaN,NaN,NaN,7,NaN,NaN,NaN,en

In [ ]:
# Define function to expand contractions 

def expand_contractions(text):
    # import contractions dict
    from modules.contractions import contractions_dict
    
    contractions_pattern = re.compile('({})'.format('|'.join(contractions_dict.keys())),
                                      flags=re.IGNORECASE | re.DOTALL)

    def expand_match(contraction):
        match = contraction.group(0)
        first_char = match[0]
        expanded_contraction = contractions_dict.get(match) \
            if contractions_dict.get(match) \
            else contractions_dict.get(match.lower())
        expanded_contraction = expanded_contraction
        return expanded_contraction

    expanded_text = contractions_pattern.sub(expand_match, text)
    expanded_text = re.sub("'", "", expanded_text)
    return expanded_text

In [4]:
# Define wrapper function for POS tagging words in tweets
def pos_tag(tweets):
    return runtagger_parse(tweets, run_tagger_cmd=ARK_TWEET_NLP_PATH)

In [6]:
# Tag each tweet in dataset
tweets.loc[:,'text'] = tweets.text.apply(expand_contractions,axis = 1)
tagged_tweets = pos_tag(tweets.loc[:, 'text'].values)
tagged_tweets[:5]

[[]]

In [6]:
# Turn each tuple into a dictionary

# Define new list containing tagged words
tagged_words = list()
# Loop through each tagged tweet
for i, tagged_tweet in enumerate(tagged_tweets):
    # Get current tweet id
    tweet_id = tweets.loc[i, 'id_str']
    # Loop through each tag in current tweet
    for j, tag in enumerate(tagged_tweet):
        # Overwrite tag tuple with word dictionary
        tagged_word = {
            'tweet': tweet_id, # Id of tweet containing word
            'index': j, # Word index in sentence
            'text': tag[0], # Actual word text
            'pos': tag[1], # Part Of Speech tag
            'conf': tag[2], # Confidence for POS tag
        }
        # Update tagged words list
        tagged_words.append(tagged_word)
    
# Show first 5 tagged tweets objects
tagged_words[:5]

[{'tweet': '1207806578650468352',
  'index': 0,
  'text': 'These',
  'pos': 'D',
  'conf': 0.9796},
 {'tweet': '1207806578650468352',
  'index': 1,
  'text': 'events',
  'pos': 'N',
  'conf': 0.9975},
 {'tweet': '1207806578650468352',
  'index': 2,
  'text': 'around',
  'pos': 'P',
  'conf': 0.9893},
 {'tweet': '1207806578650468352',
  'index': 3,
  'text': 'the',
  'pos': 'D',
  'conf': 0.9995},
 {'tweet': '1207806578650468352',
  'index': 4,
  'text': 'world',
  'pos': 'N',
  'conf': 0.9613}]

In [7]:
# Turn tagged words list into a Pandas DataFrame object
words = pd.DataFrame(tagged_words)
words.head()

                 tweet  index    text pos    conf
0  1207806578650468352      0   These   D  0.9796
1  1207806578650468352      1  events   N  0.9975
2  1207806578650468352      2  around   P  0.9893
3  1207806578650468352      3     the   D  0.9995
4  1207806578650468352      4   world   N  0.9613

In [8]:
# Sort by tweet id and word index
words.sort_values(by=['tweet', 'index'], ascending=True, inplace=True)
words.head(50)

                     tweet  index                     text pos    conf
11751  1204199429177315329      0                       RT   ~  0.9979
11752  1204199429177315329      1           @unwomenjordan   @  0.9991
11753  1204199429177315329      2                        :   ~  0.9630
11754  1204199429177315329      3                     From   P  0.9991
11755  1204199429177315329      4                      the   D  0.9975
11756  1204199429177315329      5                    right   A  0.4388
11757  1204199429177315329      6                       to   P  0.9871
11758  1204199429177315329      7                    equal   A  0.7391
11759  1204199429177315329      8                      pay   N  0.8749
11760  1204199429177315329      9                      for   P  0.9951
11761  1204199429177315329     10                    equal   A  0.9980
11762  1204199429177315329     11                     work   N  0.9960
11763  1204199429177315329     12                       to   P  0.9925
11764  1204199429177315329     13           representation   N  0.8120
11765  1204199429177315329     14                        ,   ,  0.9970
11766  1204199429177315329     15                    women   N  0.9057
11767  1204199429177315329     16                  leaders   N  0.9717
11768  1204199429177315329     17                       in   P  0.9969
11769  1204199429177315329     18                  #Jordan   ^  0.9027
11770  1204199429177315329     19                   engage   V  0.9532
11771  1204199429177315329     20          @AminaJMohammed   @  0.9951
11772  1204199429177315329     21                       in   P  0.9700
11773  1204199429177315329     22                        a   D  0.9749
11774  1204199429177315329     23                    dialo   N  0.8800
11775  1204199429177315329     24                        â€¦   ,  0.8228
11735  1204205766342840336      0                        "   ,  0.9910
11736  1204205766342840336      1                      You   O  0.9979
11737  1204205766342840336      2                      are   V  0.9986
11738  1204205766342840336      3                    never   R  0.9973
11739  1204205766342840336      4                      too   R  0.9907
11740  1204205766342840336      5                    small   A  0.9844
11741  1204205766342840336      6                       to   P  0.9984
11742  1204205766342840336      7                     make   V  0.9994
11743  1204205766342840336      8                        a   D  0.9960
11744  1204205766342840336      9               difference   N  0.9995
11745  1204205766342840336     10                        .   ,  0.9974
11746  1204205766342840336     11                        "   ,  0.9372
11747  1204205766342840336     12                        -   ,  0.8144
11748  1204205766342840336     13           @GretaThunberg   @  0.9976
11749  1204205766342840336     14          #HumanRightsDay   #  0.8080
11750  1204205766342840336     15  https://t.co/Lm4EY7d4Me   U  0.9949
11724  1204216773651914752      0                       15   $  0.9882
11725  1204216773651914752      1                        .   ,  0.9966
11726  1204216773651914752      2                  Educate   V  0.9983
11727  1204216773651914752      3                      the   D  0.9997
11728  1204216773651914752      4                     next   A  0.9440
11729  1204216773651914752      5               generation   N  0.9996
11730  1204216773651914752      6                        .   ,  0.9981
11731  1204216773651914752      7          #orangetheworld   #  0.9464
11732  1204216773651914752      8                  #16days   #  0.9756

In [9]:
# Output to file
words.to_csv(WORDS_PATH, index=False)